<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body>
    <nav class="navbar container">
        <a class="logo menu" href="#">Hunger Apps</a>
        <ul>
            <li>
                <a href="http://localhost:8080">Home</a>
            </li>
            <li>
                <a href="#">Favorite</a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/afif-makarim-21b270167/">About Us</a>
            </li>
        </ul>
    </nav>

    <div class="jumbotron">
        <img src="./images/heros/hero-image_2.jpg" alt="">
        <div class="description">
            <h1>Hunger Apps</h1>
            <p>Discover the best food in town. Since 1996, our family owned restaurant has been serving up local authentic cuisine. you'll find the very best in high quality ingredients and dishes that are loaded with flavor!</p>
            <a class="btn-primary" href="#restaurant">Explore Us</a>
        </div>
    </div>
    <div class="grid-wrapper highlight-container">
    <div class="span">
        <h4>Break & Bakery</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore dolorem obcaecati porro suscipit perferendis iusto animi tempore necessitatibus, est delectus ipsa harum totam laboriosam deserunt, beatae numquam et reiciendis excepturi?</p>
    </div>
    <div class="span">
        <h4>Fresh Meats</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore dolorem obcaecati porro suscipit perferendis iusto animi tempore necessitatibus, est delectus ipsa harum totam laboriosam deserunt, beatae numquam et reiciendis excepturi?</p>
    </div>
    <div class="span">
        <h4>Halal</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore dolorem obcaecati porro suscipit perferendis iusto animi tempore necessitatibus, est delectus ipsa harum totam laboriosam deserunt, beatae numquam et reiciendis excepturi?</p>
    </div>
    </div>
    <h1 id="restaurant" class="section-title">Explore Restaurant</h1>
    <div class="grid-wrapper container">
    <div class="card">
        <div class="badge">
            Medan
        </div>
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="">
        <div class="card-content">
            <h4>Rating 4.6</h4>
            <h4>Bring Your Phone Cafe</h4>
            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
    </div>
    <div class="card">
        <div class="badge">
            Bali
        </div>
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="">
        <div class="card-content">
            <h4>Rating 4.6</h4>
            <h4>Run The Gun</h4>
            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
    </div>
    <div class="card">
        <div class="badge">
            Ternate
        </div>
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="">
        <div class="card-content">
            <h4>Rating 4.8</h4>
            <h4>Pangsit Express</h4>
            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
    </div>
    <div class="card">
        <div class="badge">
            Malang
        </div>
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="">
        <div class="card-content">
            <h4>Rating 4.8</h4>
            <h4>Ducky Duck</h4>
            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
    </div>
    <div class="card">
        <div class="badge">
            Bali
        </div>
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="">
        <div class="card-content">
            <h4>Rating 4.8</h4>
            <h4>Kafein</h4>
            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
    </div>
    <div class="card">
        <div class="badge">
            Malang
        </div>
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08" alt="">
        <div class="card-content">
            <h4>Rating 4.8</h4>
            <h4>Makan mudah</h4>
            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
    </div>
</div>
<footer>
    Copyright © 2021 - Hunger Apps
</footer>
</body>



</html>